<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409512873617-e9av3jghfssb1avqrpgarg88898bhe5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409512873617-e9av3jghfssb1avqrpgarg88898bhe5b</string>
	<key>API_KEY</key>
	<string>AIzaSyC23l6-a12W5H1SdTRU5H-fZk6Ej9ZGoS4</string>
	<key>GCM_SENDER_ID</key>
	<string>409512873617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kennethlng.bookmarker-ios</string>
	<key>PROJECT_ID</key>
	<string>bookmarker-996f8</string>
	<key>STORAGE_BUCKET</key>
	<string>bookmarker-996f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409512873617:ios:48679dca79903a84b8f930</string>
	<key>DATABASE_URL</key>
	<string>https://bookmarker-996f8.firebaseio.com</string>
</dict>
</plist>